body {
    font-family: 'Space Grotesk', sans-serif;
    max-width: 1440px;
    margin: auto;
}

header {
    height: 808px;
    background-image: url('/images/banner/banner.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 150px;
    margin-bottom: 130px;
}

#banner-data {
    text-align: right;
    width: 494px;
}

#failures-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 130px;
}

#failures-data {
    width: 416px;
}

#plans {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 200px;
}

/* common styles */
h1 {
    font-weight: 700;
    font-size: 65px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

h3 {
    font-weight: 700;
    font-size: 30px;
}

.txt-center {
    text-align: center;
}

.btn-primary {
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}